.prodCntr{
    display: grid;
    grid-template-columns: 65% 33%;
}

.prodLeft{
    width: 100%;
}

.sliderBox {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap:1%;
    grid-template-rows: 560px 560px 560px;
    overflow: scroll;
    height:900px;
    overflow-x: hidden;
    scrollbar-width: none;
}

.sliderBox_li {
    list-style: none;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    width: 50%;
    position: relative;
}

#productsections_a{
    color: #323232;
    text-decoration: none;
    transition: all .3s ease 0s;
    cursor: url("https://www.faballey.com/themes/default/images/prozoomIcon.png"),auto;
}

.sliderBox_li_img {
    width: 450px;
    height:550px;
    display: block;
}

.prodRight {
   display:flex;
   flex-direction: column;
   height:900px;
   margin: 3%;
}

.uygs{
    float: right;
    width: 94%;
    padding-top: 20px;
    position: sticky;
    top: 75px;
    margin-left: 6%;
}

.hour24sp {
    font-size: 12px;
    color: #fc6486;
    font-weight: 600;
    font-family: 'Lato',sans-serif;
    line-height: 24px;
    margin-top: 0px;
}

.prodRight_h1 {
    font-size: 20px;
    font-weight: 600;
    text-transform: none;
    line-height: 0px;
}

.prodright_h4{
    display:inline-block;
    font-family: 'Lato',sans-serif;
}

.prodRight_sp1{
    text-decoration:line-through;
    color:#000; 
}

.prodRight_sp2{
    color:#fc6486;
}

.prodRight_sp3{
    font-size:11px;
    color:#000;
    float:right;
    margin:0px 115px 0 0px;
}

.alltaxes{
    display: block;
    font-size: 14px;
    color: #03bb5c;
    margin-top: 5px;
}

.prodRight_p {
    font-size: 12px;
    font-weight: 700;
    margin-top: 2px;
    font-family: 'Lato',sans-serif;
    color: #999;
}

.prodslSize {
    margin-top: -13px;
    text-align: left;

}

.sizeError {
    position: relative;
    width: 150px;
    display:none;
}

.sizeError_span {
    width: 100%;
    color: #fff;
    background: #000;
    text-align: center;
    position: absolute;
    padding: 5px 0;
    top: -10px;
    font-size: 15px;
}

.prodSizeguide {
    padding-bottom: 10px;
}

.prodSizeguide_h5 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
    margin-top: 29px;
    margin-bottom: 0px;
}

.prodSizeguide_a {
    font-size: 11px;
    font-weight: 700;
    float: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: underline;
    line-height: 70px;
    margin-right: 35px;
}

.prodslSize ul {
    padding-inline-start: 0px;
}


.prodslSize li {
    /* margin: 0 15px 10px 0; */
    display: inline-block;
    width: 70px;
    line-height: 36px;
    margin-right: 0px;
    position: relative;
}

.prodslSize li a {
    min-width: auto;
    border-radius: 0;
    padding: 0 15px;
}
.prodslSize li a {
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #dcdcdc;
    min-width: 10px;
    height: 50px;
    width: 34px;
    display: block;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
    cursor: pointer;
}

.prodslSize li a:hover{
    background-color:black !important;
    color: white;
}

a {
    color: #323232;
    text-decoration: none;
    transition: all .3s ease 0s;
}

.sizeMeasure {
    display: none;
    position: absolute;
    bottom: 64px;
    width: 210px;
    background: #fff;
    padding: 10px;
    border: 1px solid #dcdcdc;
    text-align: center;
    z-index: 1;
    margin-left: -87px;
}

.sizeMeasure p {
    font-size: 11px;
    line-height: 20px;
    margin: 0px;
    font-weight: 600;
    font-family: 'Lato',sans-serif;
    color: #999;
}

.addbagBtn {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    background: #fc6486;
    display: table-cell;
    width: 55%;
    letter-spacing: 1px;
    padding: 18px 0;
    float: left;
    border: none;
}

.savewshBtn {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    display: table-cell;
    letter-spacing: 1px;
    padding: 17px 10px;
    border: 1px solid #dcdcdc;
    float: left;
    width: 42%;
    box-sizing: border-box;
    margin-left: 3%;
    white-space: nowrap;
}

.box1{
    margin-top: 30px;
    border: 1px solid #dcdcdc;
    margin-block-end: 1.33em;
    padding: 0px 0px 0px 15px;
}

.box1 h6 {
    font-size: 14px;
    height: 2vw;
    padding-top: 10px;
}
.bestoferBox {
    border-top: 1px solid #dcdcdc;
    padding-top: 10px;
}

.bestoferBox h5 {
    font-size: 13px;
}

.styleline {
    border-right: 1px solid #323232;
    padding-right: 2px;
    margin-right: 5px;
}

.bestoferBox_span {
    font-weight: 700;
    font-family: 'Lato',sans-serif;
}

.bestoferBox p {
    margin-top: 5px;
    font-size: 12px;
    line-height: 17px;
    font-weight: 500;
}

.box2{
    padding: 10px;
    border: 1px solid #dcdcdc;
    margin-top: 10px;
}

.box2 h5 {
    font-size: 15px;
    font-weight: 600;
}

.box2 input[type="text"] {
    padding: 15px;
    border: 1px solid #dcdcdc;
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.box2_span {
    position: absolute;
    top: 545px;
    right: 75px;
    cursor: pointer;
    color: #fc6486;
    font-weight: 600;
    font-size: 14px;
}

.box2 p {
    font-size: 13px;
    font-weight: 500;
    color: #555;
    padding-top: 10px;
}

.box3{
    padding: 10px;
    border: 1px solid #dcdcdc;
    margin-top: 10px;
}

.box3 p{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
}

.prodectab_li {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    border: 1px solid #dcdcdc;
    margin-right: 5px;
}

.boxx1{
    height:30px;
    text-align: left;
}

.boxx2{
    height:30px;
    display: flex;
    flex-direction: row;
    align-items: evenly;
    width:60%;
}

.h44{
    float: left;
}

.span44{
    float: left;
    /* margin-left: 182px; */
    text-decoration: line-through;
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

.span45{
    float: left;
    margin-left: 12px;
    font-size: 20px;
    font-weight: 700;
    color: #fc6486;
}

.divm{
    margin-top:2vw ;
}