*{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color:#323232;
}
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;

    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: inherit;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


#nav1-container{
    display :flex;
     justify-content: space-between;
     align-items: center;
     padding-left: 2%;
     padding-right: 2%;
    border: 1px solid rgb(207, 207, 207);
    border-top: none;
    font-size: small;
    font-weight: 500;
    
}
#sale{
    color: #fc6486;
    cursor: pointer;
}
#track-n-bag-div{
    /* border: 1px solid green; */
    display :flex;
    justify-content: space-around;
    align-items: center;
  
}

#track-n-bag-div > span{
    margin-right: 6px;
    cursor: pointer;
}

#heartimage>img{
    /* border: 1px solid black; */
    padding-top:6px;
    cursor: pointer;
}

#bagimage>img{
    /* border: 1px solid black; */
    padding-top:6px;
    cursor: pointer;
    
}

#image-div{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
#image-div >img{
    border: 1px solid rgb(207, 207, 207);
    border-left: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
}
